In [28]:
# !pip install pandas
# !pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.2.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 11.3 MB/s eta 0:00:0000:0100:01
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 kB 13.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.22.3)
Collecting scipy>=1.3.2
  Downloading scipy-1.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.4/34.4 MB 12.9 MB/s eta 0:00:0000:0100:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.1 scipy-1.10.1 threadpoolctl-3.1.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [41]:
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch import nn, optim
from torch.autograd import Variable

import pandas as pd
import os
# from pl_bolts.models.autoencoders import VAE
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
pd.set_option('display.max_columns', None)

In [31]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
device

device(type='cpu')

In [32]:
# os.getcwd()
root_dir = "/workspace/vae-fairness/"
data_dir = os.path.join(root_dir,"data")
raw_data_dir = os.path.join(data_dir,"raw")
raw_german_all = os.path.join(raw_data_dir,"german.data")
raw_bar_pass = os.path.join(raw_data_dir,"bar_pass_prediction.csv")
# raw_german_all

In [47]:
bar_df = pd.read_csv(raw_bar_pass).set_index('ID')
bar_df#.ID.nunique()
bar_df.groupby(['sex','gender']).size().unstack(fill_value=0)
# bar_df.shape
# bar_df[~bar_df[['sex','gender']].isnull().all(axis=1)]

gender  female   male
sex
1.0       9826      0
2.0          0  12576

In [77]:
bar_df.isna().sum()

decile1b                   1604
decile3                    1604
decile1                    1092
sex                           5
race                         16
cluster                      96
lsat                          0
ugpa                          0
zfygpa                      984
DOB_yr                       50
grad                          3
zgpa                       1289
bar1                          0
bar1_yr                      39
bar2                          0
bar2_yr                      40
fulltime                     34
fam_inc                     289
age                          89
gender                        5
parttime                     34
male                          5
race1                        16
race2                        16
Dropout                       0
other                         0
asian                         0
black                         0
hisp                          0
pass_bar                      0
bar                           0
bar_passed                    0
tier                         96
index6040                     0
indxgrp                       0
indxgrp2                      0
dnn_bar_pass_prediction       0
gpa                           0
dtype: int64

In [76]:
bar_df['bar'].value_counts(normalize=True).mul(100).round(2).astype(str) + '%'

a Passed 1st time    88.54%
b Passed 2nd time     6.24%
c Failed              5.22%
e non-Grad             0.0%
Name: bar, dtype: object

In [88]:
bar_df['bar'].value_counts()

a Passed 1st time    19839
b Passed 2nd time     1398
c Failed              1169
e non-Grad               1
Name: bar, dtype: int64

In [48]:
# bar_df = bar_df.fillna(0)
bar_df.groupby(['bar','bar_passed']).size().unstack(fill_value=0)

bar_passed         False  True
bar
a Passed 1st time      0  19839
b Passed 2nd time      0   1398
c Failed            1169      0
e non-Grad             1      0

In [58]:
bar_df.groupby(['indxgrp','indxgrp2']).size().unstack(fill_value=0)

indxgrp2,a under 400,b 400-460,c 460-520,d 520-580,e 580-640,f 640-700,g 700-760,h 760-820,i 820+
indxgrp,,,,,,,,,
a under 400,39,0,0,0,0,0,0,0,0
b 400-460,0,129,0,0,0,0,0,0,0
c 460-520,0,0,407,0,0,0,0,0,0
d 520-580,0,0,0,829,0,0,0,0,0
e 580-640,0,0,0,0,1950,0,0,0,0
f 640-700,0,0,0,0,0,3781,0,0,0
g 700+,0,0,0,0,0,0,5129,4902,5241

In [87]:
bar_df.groupby(['gpa','ugpa']).size().unstack(fill_value=0)#.reset_index()#.reset_index()

ugpa,1.5,1.6,1.7,1.8,1.9,2.0,2.1,2.2,2.3,2.4,2.5,2.6,2.7,2.8,2.9,3.0,3.1,3.2,3.3,3.4,3.5,3.6,3.7,3.8,3.9
gpa,,,,,,,,,,,,,,,,,,,,,,,,,
1.5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1.6,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1.7,0,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1.8,0,0,0,7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1.9,0,0,0,0,21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2.0,0,0,0,0,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2.1,0,0,0,0,0,0,104,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2.2,0,0,0,0,0,0,0,142,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2.3,0,0,0,0,0,0,0,0,232,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2.4,0,0,0,0,0,0,0,0,0,392,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2.5,0,0,0,0,0,0,0,0,0,0,521,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2.6,0,0,0,0,0,0,0,0,0,0,0,685,0,0,0,0,0,0,0,0,0,0,0,0,0
2.7,0,0,0,0,0,0,0,0,0,0,0,0,898,0,0,0,0,0,0,0,0,0,0,0,0
2.8,0,0,0,0,0,0,0,0,0,0,0,0,0,1091,0,0,0,0,0,0,0,0,0,0,0
2.9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1424,0,0,0,0,0,0,0,0,0,0
3.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1715,0,0,0,0,0,0,0,0,0
3.1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1949,0,0,0,0,0,0,0,0
3.2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2019,0,0,0,0,0,0,0
3.3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2019,0,0,0,0,0,0
3.4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2049,0,0,0,0,0
3.5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1942,0,0,0,0
3.6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1776,0,0,0
3.7,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1505,0,0
3.8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1089,0
3.9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,775

In [68]:
bar_df.groupby(['race','hisp','other','asian','black']).size().unstack(fill_value=0)#.reset_index()#.reset_index()

black                      0     1
race hisp other asian
1.0  1    1     0        105     0
2.0  0    0     1        897     0
3.0  0    0     0          0  1343
4.0  0    0     0        396     0
5.0  0    0     0        125     0
6.0  0    0     0        506     0
7.0  0    0     0      18716     0
8.0  0    1     0        303     0

In [51]:
bar_df.groupby('race')['dnn_bar_pass_prediction'].mean()

race
1.0    0.964075
2.0    0.981285
3.0    0.965381
4.0    0.974287
5.0    0.976062
6.0    0.979271
7.0    0.982041
8.0    0.981207
Name: dnn_bar_pass_prediction, dtype: float64

In [62]:
bar_df.groupby('gender')['dnn_bar_pass_prediction'].mean()

gender
female    0.983048
male      0.978830
Name: dnn_bar_pass_prediction, dtype: float64

In [80]:
pass_by_age = bar_df.groupby(['age','bar_passed'],dropna = False).size().unstack(fill_value=0)
pass_by_age['pass_rate'] = pass_by_age[True] / (pass_by_age[True]+pass_by_age[False])
pass_by_age.sort_values('age',ascending = False)

bar_passed  False  True  pass_rate
age
-3.0            0     1   1.000000
-5.0            0     3   1.000000
-7.0            0     1   1.000000
-8.0            0     2   1.000000
-9.0            0     1   1.000000
-13.0           0     1   1.000000
-17.0           0     1   1.000000
-18.0           0     1   1.000000
-21.0           1     1   0.500000
-22.0           0     1   1.000000
-23.0           1     0   0.000000
-24.0           1     1   0.500000
-25.0           0     4   1.000000
-26.0           0     3   1.000000
-27.0           0     4   1.000000
-28.0           1     0   0.000000
-29.0           0     4   1.000000
-30.0           1     3   0.750000
-31.0           2     5   0.714286
-32.0           0     6   1.000000
-33.0           1    11   0.916667
-34.0           4    10   0.714286
-35.0           2    13   0.866667
-36.0           6    17   0.739130
-37.0           5    16   0.761905
-38.0           4    23   0.851852
-39.0           5    42   0.893617
-40.0           5    53   0.913793
-41.0           7    54   0.885246
-42.0           8    81   0.910112
-43.0          10    71   0.876543
-44.0           8   111   0.932773
-45.0           9   149   0.943038
-46.0           7   117   0.943548
-47.0          14   144   0.911392
-48.0          14   164   0.921348
-49.0          21   185   0.898058
-50.0          18   202   0.918182
-51.0          24   221   0.902041
-52.0          24   287   0.922830
-53.0          24   330   0.932203
-54.0          22   432   0.951542
-55.0          42   511   0.924051
-56.0          53   640   0.923521
-57.0          57   892   0.939937
-58.0          71  1087   0.938687
-59.0          69  1538   0.957063
-60.0         110  2294   0.954243
-61.0         157  3757   0.959888
-62.0         177  5448   0.968533
-63.0          44   675   0.938804
-64.0          29   242   0.892989
-65.0          23   284   0.925081
-66.0          50   427   0.895178
-67.0          29   519   0.947080
-68.0           4    61   0.938462
-69.0           0     3   1.000000
 NaN            6    83   0.932584

In [86]:
pass_by_race = bar_df.groupby(['race1','bar_passed'],dropna = False).size().unstack(fill_value=0)
pass_by_race['total'] = (pass_by_race[True]+pass_by_race[False])
pass_by_race['pass_rate'] = pass_by_race[True] / pass_by_race['total']
pass_by_race['proportion_total'] = pass_by_race['total']/pass_by_race['total'].sum()
pass_by_race['proportion_failed'] = pass_by_race[False]/pass_by_race[False].sum()#*100
pass_by_race['normalized_failure_likelihood'] = pass_by_race['proportion_failed']/pass_by_race['proportion_total']

pass_by_race.sort_values('pass_rate')

bar_passed,False,True,total,pass_rate,proportion_total,proportion_failed,normalized_failure_likelihood
race1,,,,,,,
black,298,1045,1343,0.778109,0.059937,0.254701,4.249503
NaN,2,14,16,0.875000,0.000714,0.001709,2.393910
hisp,128,899,1027,0.875365,0.045834,0.109402,2.386917
other,42,366,408,0.897059,0.018209,0.035897,1.971456
asian,70,827,897,0.921962,0.040032,0.059829,1.494526
white,630,18086,18716,0.966339,0.835275,0.538462,0.644652

In [71]:
pass_by_gender = bar_df.groupby(['gender','bar_passed'],dropna = False).size().unstack(fill_value=0)
pass_by_gender['pass_rate'] = pass_by_gender[True] / (pass_by_gender[True]+pass_by_gender[False])
pass_by_gender.sort_values('pass_rate')

bar_passed  False   True  pass_rate
gender
female        569   9257   0.942092
male          601  11975   0.952211
NaN             0      5   1.000000

In [49]:
bar_df

,decile1b,decile3,decile1,sex,race,cluster,lsat,ugpa,zfygpa,DOB_yr,grad,zgpa,bar1,bar1_yr,bar2,bar2_yr,fulltime,fam_inc,age,gender,parttime,male,race1,race2,Dropout,other,asian,black,hisp,pass_bar,bar,bar_passed,tier,index6040,indxgrp,indxgrp2,dnn_bar_pass_prediction,gpa
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2,10.0,10.0,10.0,1.0,7.0,1.0,44.0,3.5,1.33,69.0,Y,1.88,P,7.0,P,94.0,1.0,5.0,-62.0,female,0.0,0.0,white,b white,NO,0,0,0,0,1,a Passed 1st time,True,4.0,886.842082,g 700+,i 820+,0.979804,3.5
3,5.0,4.0,5.0,1.0,7.0,2.0,29.0,3.5,-0.11,69.0,Y,-0.57,P,7.0,P,94.0,1.0,4.0,-62.0,female,0.0,0.0,white,b white,NO,0,0,0,0,1,a Passed 1st time,True,2.0,649.999987,f 640-700,f 640-700,0.979804,3.5
36,3.0,2.0,3.0,2.0,7.0,3.0,36.0,3.5,-0.64,65.0,Y,-1.12,P,7.0,P,94.0,1.0,1.0,-58.0,male,0.0,1.0,white,b white,NO,0,0,0,0,1,a Passed 1st time,True,3.0,760.526298,g 700+,h 760-820,0.979804,3.5
52,7.0,4.0,7.0,2.0,7.0,3.0,39.0,3.5,0.34,58.0,Y,-0.49,P,7.0,P,94.0,1.0,4.0,-51.0,male,0.0,1.0,white,b white,NO,0,0,0,0,1,a Passed 1st time,True,3.0,807.894717,g 700+,h 760-820,0.979804,3.5
55,9.0,8.0,9.0,2.0,7.0,4.0,48.0,3.5,1.02,68.0,Y,0.76,P,7.0,P,94.0,1.0,4.0,-61.0,male,0.0,1.0,white,b white,NO,0,0,0,0,1,a Passed 1st time,True,5.0,949.999974,g 700+,i 820+,0.979804,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10695,3.0,1.0,3.0,2.0,3.0,6.0,26.5,1.8,-0.58,64.0,Y,-1.49,F,2.0,F,95.0,1.0,2.0,-62.0,male,0.0,1.0,black,a black,NO,0,0,1,0,0,c Failed,False,1.0,440.526304,b 400-460,b 400-460,0.557568,1.8
19642,2.0,1.0,3.0,2.0,3.0,6.0,19.7,1.8,-0.64,64.0,Y,-1.36,F,7.0,F,94.0,1.0,3.0,-57.0,male,0.0,1.0,black,a black,NO,0,0,1,0,0,c Failed,False,1.0,333.157888,a under 400,a under 400,0.557568,1.8
24704,7.0,8.0,7.0,2.0,3.0,3.0,36.0,1.8,0.41,66.0,Y,0.80,P,7.0,P,95.0,2.0,3.0,-59.0,male,1.0,1.0,black,a black,NO,0,0,1,0,1,a Passed 1st time,True,3.0,590.526298,e 580-640,e 580-640,0.557568,1.8
10000,10.0,10.0,10.0,2.0,7.0,3.0,44.0,1.5,1.88,58.0,Y,1.42,P,7.0,P,95.0,2.0,3.0,-51.0,male,1.0,1.0,white,b white,NO,0,0,0,0,1,a Passed 1st time,True,3.0,686.842082,f 640-700,f 640-700,0.759128,1.5
10684,9.0,8.0,9.0,2.0,7.0,6.0,29.5,1.6,1.10,59.0,Y,0.81,P,2.0,P,94.0,1.0,3.0,-57.0,male,0.0,1.0,white,b white,NO,0,0,0,0,1,a Passed 1st time,True,1.0,467.894723,c 460-520,c 460-520,0.330740,1.6

In [43]:
sens_attri = ['other','asian','black','hisp', 'male','race1','race2', 'sex','race','DOB_yr','age','gender']

In [21]:
pd.read_csv("/workspace/vae-fairness/data/raw/german.data-numeric", delimiter=",")#.shape
# pd.read_csv(german_all, delimiter="\t")
# pd.read_csv(raw_bar_pass)

       1   6   4  12   5   5   3   4   1  67   3   2   1   2   1   0   0   1   0   0   1   0   0   1   1
0       2  48   2  60   1   3   2   2   1  22   3  ...
1       4  12   4  21   1   4   3   3   1  49   3  ...
2       1  42   2  79   1   4   3   4   2  45   3  ...
3       1  24   3  49   1   3   3   4   4  53   3  ...
4       4  36   2  91   5   3   3   4   4  35   3  ...
..                                                 ...
994     4  12   2  17   1   4   2   4   1  31   3  ...
995     1  30   2  39   1   3   1   4   2  40   3  ...
996     4  12   2   8   1   5   3   4   3  38   3  ...
997     1  45   2  18   1   3   3   4   4  23   3  ...
998     2  45   4  46   2   1   3   4   3  27   3  ...

[999 rows x 1 columns]